services:
  dev:
    build: .
    volumes:
      # Working directory, and the enabled service scripts.
      - .:/opt/ssi-agent/

      # Configurations (config.json), the ssi-agent.service,
      # and systemd's units for enabled services
      - ssi-agent-etc:/etc/ssi-agent/
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "systemctl", "is-system-running"]
      interval: 5s
      retries: 5

  dev-installer:
    image: alpine
    env_file: # We need to pass the same env file to the installer
      - .env
    # We need privileged access to enter another container's namespace
    privileged: true
    # We need the PID of the target container to join its namespace
    pid: "service:dev"
    depends_on:
      dev:
        condition: service_healthy
    # Use nsenter to run the script inside the 'dev' container's execution context
    # -t 1 targets PID 1 (systemd) of the dev container (since we share PID namespace)
    # -m -u -i -n enters mount, uts, ipc, and net namespaces
    # Then we execute sudo ./install.sh inside that context
    command: nsenter -t 1 -m -u -i -n sh -c "cd /opt/ssi-agent && ./install.sh"
volumes:
  ssi-agent-etc:
