[Unit]
Description={description}
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '{script}'
TimeoutSec={timeout}
RemainAfterExit=no
Restart=no
StandardOutput=append:/var/log/ssi-agent/{id}.log
StandardError=append:/var/log/ssi-agent/{id}.log
LogsDirectory=ssi-agent
LogsDirectoryMode=0755

[Install]
WantedBy=multi-user.target
