[Unit]
Description=Service Status Indicator (SSI) - Agent
After=network.target

[Service]
Type=simple
User=ssi-agent
Group=ssi-agent
LogsDirectory=ssi-agent
ExecStart=/opt/ssi-agent/venv/bin/ssi-agent-daemon
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PATH=/opt/ssi-agent/venv/bin:/usr/bin:/bin
WorkingDirectory=/opt/ssi-agent

[Install]
WantedBy=multi-user.target
